{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- $img := "" -}}
{{- $q := $u.Query -}}
{{- $weite := "" -}}
{{- $imgClass := "ci-image" -}}

{{- if not $u.IsAbs -}}
  {{- $path := strings.TrimPrefix "./" $u.Path -}}


  {{- with or (.PageInner.Resources.Get $path) (resources.Get $path) -}}
        
    {{- $src = .RelPermalink -}}

    {{- with $u.RawQuery -}}
      {{- $src = printf "%s?%s" $src . -}}      
    {{- end -}}
    
    {{- with $u.Fragment -}}
      {{- $src = printf "%s#%s" $src . -}}
    {{- end -}}

    {{- $img = . -}}
    {{- $large := $img.Resize "660x" -}}   
    {{ $large = $img.Resize ( printf "%vx" $img.Width )}}
    {{ $src =  $large.RelPermalink }}

{{- end -}}


{{- end -}}


{{- $weite = $q.Get "w" -}}



{{- if not (eq $weite "") -}}
  {{ $imgClass = printf "%s ci-image-w-%s" $imgClass $weite }}
{{- end -}}




{{/*- if .IsBlock - */}}

  {{- $wrapperClass := "ci-image-wrapper" -}}

  <div 
  {{- range $k, $v := .Attributes -}}
    {{- if $v -}}
      {{- if eq $k "class" -}}
            {{- $c := printf "%s" ($v | transform.HTMLEscape) -}}
            {{ $wrapperClass = printf "%s %s" $wrapperClass $c }}
      {{ else }}
          {{- printf " %s=%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr -}}
      {{ end }}
    {{- end -}}
  {{- end}}

class="{{ $wrapperClass }}">

<figure class="{{ $imgClass }}">

{{/* else }}
  <span class="{{ $imgClass }}">
{{- end -}}
{{ */}}
 

  
  <img  src="{{ $src }}" alt="{{ .PlainText }}"
  {{- with .Title }} title="{{ . }}" {{- end -}}

> 
{{- with .Title }}
  <span class="ci-image-caption">{{ . }} </span>
{{- end -}}


{{/*- if .IsBlock - */}}
</figure>
</div>
{{/* else }}
</span>
{{- end - */}}



{{- /**/ -}}