{{- $u := urls.Parse .Destination -}}
{{ $q := $u.Query }}
{{ $weite := $q.Get "w" }}


{{- if $u.IsAbs -}}
<p>remote</p>
{{ else }}
<p>local</p>
{{ end }}




{{- $img := .Page.Resources.GetMatch .Destination -}}


<p>{{ $q }} {{ $q.w }}  {{ $weite }}  </p>



{{- if and (not $img) .Page.File -}}
{{ $path := path.Join .Page.File.Dir .Destination }}
{{- $img = resources.Get $path -}}
{{- end -}}





{{- with $img -}}
{{- $large := $img.Resize "854x" -}}

{{ if lt $img.Width $large.Width }}
{{- $large = $img -}}
{{ end }}

{{ $medium := $large.Resize "613x" -}}
{{ if lt $large.Width $medium.Width }}
{{- $medium = $large -}}
{{ end }}

{{ $small := $medium.Resize "458x" -}}
{{ if lt $medium.Width $small.Width }}
{{- $small = $medium -}}
{{ end }}





<div class="ci-image-wrapper">
<figure class="ci-text-image image-caption">
    <img alt="{{ $.Text }}"  src="{{ $large.RelPermalink }}"/>
    {{- with $.Title  -}}
    <figcaption>{{ . | safeHTML }}</figcaption>
    {{ end }}
</figure>
{{- else -}}
<img src="{{ .Destination | safeURL }}" alt="{{ $.Text }}" />{{- end -}}
</div>