{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- $img := "" -}}
{{ $q := $u.Query }}
{{ $weite := "" }}

{{- if not $u.IsAbs -}}
  {{- $path := strings.TrimPrefix "./" $u.Path -}}

  {{- with or (.PageInner.Resources.Get $path) (resources.Get $path) -}}
      
    {{- $src = .RelPermalink -}}

    
    {{- with $u.RawQuery -}}
      {{- $src = printf "%s?%s" $src . -}}      
    {{- end -}}
    
    {{- with $u.Fragment -}}
      {{- $src = printf "%s#%s" $src . -}}
    {{- end -}}

    {{- $img = . -}}
    {{- $large := $img.Resize "660x" -}}   
    {{ $large = $img.Resize ( printf "%vx" $img.Width )}}
    {{ $src =  $large.RelPermalink }}


  {{- end -}}


{{- end -}}


{{ $weite = $q.Get "w" }}


{{ $wrapperClass := "ci-image"}}

{{- if not (eq $weite "") -}}
{{ $wrapperClass = printf "%s ci-image-w-%s" $wrapperClass $weite }}
{{- end -}}

{{- if .IsBlock -}}
<div class="ci-image-wrapper">
<figure 
{{ else }}
  {{ $wrapperClass = printf "%s %s" $wrapperClass "ci-image-float" }}

<span
{{- end -}}

{{- range $k, $v := .Attributes -}}
  {{- if $v -}}
     {{- if eq $k "class" -}}
          {{- $c := printf "%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr -}}
          {{ $wrapperClass = printf "%s ci-image-w-%s" $wrapperClass $c }}
     {{ else }}
        {{- printf " %s=%q" $k ($v | transform.HTMLEscape) | safeHTMLAttr -}}
     {{ end }}
  {{- end -}}
{{- end}}
 class="{{ $wrapperClass }}"
>

  
  <img  src="{{ $src }}" alt="{{ .PlainText }}"
  {{- with .Title }} title="{{ . }}" {{- end -}}

> 
{{- with .Title }}
  <span class="ci-image-caption">{{ . }} </span>
{{- end -}}


{{- if .IsBlock -}}
</figure>
</div>
{{ else }}
</span>
{{- end -}}



{{- /**/ -}}