{{- $pagedjs := resources.Get "vendor/pagedjs/dist/paged.polyfill.min.js" | resources.Copy "js/paged.polyfill.min.js" }}
<script src="{{ $pagedjs.RelPermalink  | relURL }}"></script>
{{- $pagedjs_plugin := resources.Get "js/print/pagedjs_plugins.js" | minify | resources.Copy "js/pagedjs_plugins.js" }}
<script src="{{ $pagedjs_plugin.RelPermalink  | relURL }}"></script>




<script>
    Paged.registerHandlers(Toc);  
    Paged.registerHandlers(RepeatingTableHeaders);

    class PageDefaults extends Paged.Handler {
        constructor(chunker, polisher, caller) {
            super(chunker, polisher, caller);
        }
    

    
    
        afterPageLayout(pageFragment, page) {
            //console.log(pageFragment);
        }
    
        afterRendered(pages){
            //cidb_database_extras()        
            //$(".pagedjs_pages").append('<div id="loaded" />');
        }
    }
    
</script>
{{ $options_css2 := (dict "targetPath" "css/media.css" "outputStyle" "compressed" "enableSourceMap" false) }}
{{ $style2 := resources.Get "scss/print/media.scss" | css.Sass $options_css2 }}
<link rel="stylesheet" href="{{ $style2.Permalink }}?v={{ now.Unix }}"  media="print">