<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
    <head>
        {{  partial "head.html" . }}
        {{- $jquery := resources.Get "vendor/jquery/dist/jquery.min.js" | resources.Copy "js/jquery.min.js" }}
        <script src="{{ $jquery.RelPermalink  | relURL }}"></script>
        {{- $bootstrap := resources.Get "vendor/bootstrap/dist/js/bootstrap.bundle.min.js" | resources.Copy "js/bootstrap.bundle.min.js" }}
        <script src="{{ $bootstrap.RelPermalink  | relURL }}"></script>
    </head>
    <body class="body-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }} type-{{.Type}}">
        {{ partial "nav.html" . }}
        <main id="main">
            <div class="main-container container{{ if .Site.Params.page.fluid }}-fluid{{ end }}">
                <div class="row">    
                    {{ block "main" . }} {{ end }}     
                </div>
            </div>
        </main>
        {{- /* partial "footer.html" . */}}           
        {{- /* partial "copyright.html" . */}} 
        {{- /*     <script src="{{ "js/scrollbar/scrollbar.js?v=7x" | relURL }}"></script> --> */}} 
        {{-  if eq .Site.Params.searchengine "fuse" }}
            {{- $fuse := resources.Get "vendor/fuse.js/dist/fuse.min.js" | minify | resources.Copy "js/fuse.min.js" }}
            <script src="{{ $fuse.RelPermalink  | relURL }}"></script>        
            {{- $jquery_marks := resources.Get "vendor/jquery.marks/jquery.mark.min.js" | minify | resources.Copy "js/jquery.mark.min.js" }}
            <script src="{{ $jquery_marks.RelPermalink  | relURL }}"></script>                 
 
        {{- end }}
        {{ block "search-scripts" . }}{{ end }}        
        {{ block "scripts" . }}{{ end }}          
    </body>
</html>