{{- $placeholder := "Search All" -}}
{{- if eq .Type "doc" -}}
{{- $placeholder = "search" -}}
{{ with .Params.searchDocsPlaceholder }}
{{- $placeholder = . -}}
{{ else }}
{{- $placeholder =  i18n "search_document" .  -}}
{{ end }}

{{- end -}}

<div class="ci-search ci-component-section">    
    <div class="col-auto">
        <label for="search" class="visually-hidden">Search</label>
        <input type="input" class="form-control" id="doc-search" placeholder="{{ $placeholder }}" />
         {{- partial "components/search/params.html" . }}   
    </div> 
    <div class="col-auto mt-2 show-on-search">
        <button class="btn btn-primary" type="button" id="doc-search-cancle" ><i class="bi bi-backspace"></i> {{ i18n "button_back" . }}</button>
    </div>      
</div> 


<script id="doc-search-no-match-template" type="text/x-js-template">
    <p>{{ i18n "no_matches_found" . }}</p>
</script>

<script id="doc-search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h4><a href="${link}">${title}</a></h4>
      <p>${snippet}</p>
      ${  isset tags }<p>Tags: ${tags}</p>${ end }
      ${  isset categories }<p>Categories: ${categories}</p>${ end }
    </div>
</script>

{{- $js_search := resources.Get "js/search/search.js"  | resources.Copy "js/search.js" }}
<script src="{{ $js_search.RelPermalink  | relURL }}"></script>


{{/* - partial "components/search/script" .  */}} 



