@import "../../defaults/reset";
@import "../../defaults/common";
@import "../default";
@import "../toc";
@import "../code";

.ci-page h1, #table-of-content h1 {        
    font-size: 18pt;
    font-weight: bold;
}
.layout-page-header {
    text-align: left;
}

.ci-page {
    font-size: 12pt;

    .main-title {
        break-before: always;
    }

    blockquote {
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: 1.5em 10px;
        padding: 1em 10px 0.1em 10px;
        quotes: "\201C""\201D""\2018""\2019";
    }    

    h1,h2,h3,h4,h5,h6,p,ul,.ci-image-wrapper {
        margin-bottom: 5mm;
    }

    li, p {
        line-height: 18pt;
        break-inside: avoid;
    }

    ul {
        margin-left: 10mm;
    }
    li {
        list-style-type: disc;
    }

    h1,h2 {
        padding-left: 40px;
    }

    h1 {
        color: #6485e9;
    }

    h2 {
        font-size: 14pt;
        margin-top: 10mm;
        font-weight: bold;
        break-after: avoid; 
        line-height: 18pt;
    }

    .ci-image-wrapper {
        text-align: center;
      
        figure {
            display: inline-grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            font-family: sans-serif;
            font-size: 0.7em;
    
            img {
                max-width: 100%;
                height: auto;
                &.image-border {
                    border: 1px solid #cccccc;
                }                
            }
            figcaption {
                font-style: italic;
                width: 0;
                min-width: 100%;
                padding: 0 10px;
                box-sizing: border-box;
            }
    
        }    
    }
}

body {
    background-color: #cccccc;
}

#list-toc-generated .toc-element-level-1 {
    margin-top: 6px;
    font-weight: bold;
    color: #6485e9;
}

#list-toc-generated .toc-element-level-2 {
    margin-left: 25px;
    margin-top: 6px;       
}


/* Inhaltsverzeichnis: counters */

#list-toc-generated .toc-element a::after{
    position: absolute;
    right: 0;
    background-color: white;
    padding-left: 6px;
}

#list-toc-generated .toc-element a{
    right: 0;
}

#list-toc-generated a{ 
    color: #000000;
    text-decoration: none;
    font-weight: normal;
}

#list-toc-generated .toc-element-level-1 a, #list-toc-generated .toc-element-level-1{ 
    font-weight: bold;
    color: #6485e9;
}

#toc {
    margin-top: 5mm;
 }
 
 #toc li {
     font-size: 10pt;
 }
 
 #table-of-content {
    break-before: always;
 }

